{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'thirdpart/bootstrap/bootstrap.min.css' %}">
    <title>管理后台登录</title>
</head>
<body class="user-page">
<div class="container">
    <div class="row justify-content-center">
        <div class="card-body p-0">
            <div class="row">
                <div style="margin-top: 10%;margin-left: 40%">
                    <div class="card-wrapper">
                        <div style="margin-bottom: 5%">
                            <div class="alert alert-primary text-center m-auto text-white"
                                 style="width: 60%;background-color: #026bc6">
                                System Login
                            </div>
                        </div>
                        <div class="card fat">
                            <div class="card-body">
                                <form class="form-login" action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>账号：</label>
                                        <input type="text" name='username' class="form-control" id="username"
                                               placeholder="account"
                                               autofocus required>
                                    </div>
                                    <div class="form-group">
                                        <label>密码：
                                        </label>
                                        <input type="password" name='password' class="form-control" id="passwd"
                                               placeholder="password"
                                               required>
                                    </div>
                                    <label>验证码：
                                        <div class="form-group m-0">
                                            {{ UserLoginForm.captcha }}
                                            <button type="submit" style="margin-top: 5%" class="btn btn-danger btn-block">登录</button>
                                        </div>
                                    </label>
                                </form>
                                {% if message %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                    <strong>{{ message }}</strong>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'thirdpart/jquery/jquery.js' %}"></script>
<script src="{% static 'thirdpart/popper/popper.js' %}"></script>
<script src="{% static 'thirdpart/bootstrap/bootstrap.min.js' %}"></script>

<script type="text/javascript">
    $('.captcha').click(function () {
        $.getJSON("/captcha/refresh/", function (result) {
            $('.captcha').attr('src', result['image_url']);
            $('#id_captcha_0').val(result['key'])
        });
    });
</script>
</html>