{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理端</title>
    <link rel="stylesheet" href="{% static 'thirdpart/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'home/admin.min.css' %}">
    <link rel="stylesheet" href="{% static 'thirdpart/dataTable/datatables.min.css' %}">
</head>
<body id="page-top">
<div id="wrapper">
    {% include 'home/sidebar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            {% include 'home/head.html' %}
            <div class="container-fluid">
                <div class="table-responsive">
                    <table id="myTable" class="display table table-borderless table-hover">
                        <thead>
                        <tr>
                            <th>蜜罐编号</th>
                            <th>来源IP</th>
                            <th>地理位置</th>
                            <th>时间</th>
                            <th>信息</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="badge bg-primary text-white">Web</span>蜜罐1</td>
                            <td>192.168.0.1</td>
                            <td>局域网</td>
                            <td>2018年6月12日14:23</td>
                            <td data-toggle="modal" data-target="#detail"><span class="badge bg-success text-white">详细</span></td>
                            <td><i class="fas fa-trash text-danger"></i></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                {% include 'home/footer.html' %}
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detail" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark">日志详细</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>123</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'thirdpart/jquery/jquery.js' %}"></script>
<script src="{% static 'thirdpart/popper/popper.js' %}"></script>
<script src="{% static 'thirdpart/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'thirdpart/dataTable/datatables.min.js' %}"></script>
<script src="{% static 'thirdpart/dataTable/setting.js' %}"></script>


</body>
</html>